log/
obj/
_site/
.optemp/
_themes*/
_repo.*/

.openpublishing.buildcore.ps1

**/.vscode/settings.json

# Added by Content Mentor for backward compatibility
.content-mentor/
.documentor/
.docuMentor/
.content-mentor-session.json
.documentor-session.json
.docuMentor-session.json
.documenor-session.json
.content-mentor-open-file.json
*.code-workspace
